html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    font-weight: normal;
}
a:hover {
    color: #fff;
}
.center {
    text-align: center;
}
.container {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}
.home-background {
    color: #fff;
    background: #2c97e8;
    overflow: hidden;
    transition: color .4s ease, background .4s ease, border-color .4s ease, box-shadow .4s ease, opacity .4s ease, -webkit-perspective 2s ease;
    transition: color .4s ease, background .4s ease, border-color .4s ease, box-shadow .4s ease, opacity .4s ease, perspective 2s ease;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.main {
    display: table-cell;
    vertical-align: middle;
}
.clearfix:before {
    content: ' ';
    clear: both;
}
.wrapper {
    margin-left: 10%;
    width: 90%;
    overflow-x: auto;
}
.wrapper > section {
    display: inline-block;
    text-align: left;
    margin: 0 30px;
}
.content {
    position: relative;
    height: 600px;
    margin-left: 30px;
    float: left;
    width: 200px;
}
.ro {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 0;
    top: 0;
}
.ro-left {
    transform: rotateZ(90deg);
    text-align: right;
}
.ro-right {
    top: 576px;
    transform: rotateZ(-90deg);
}
.ro-title {
    font-size: 24px;
    color: #fff;
}
.ro-title:hover {
    text-decoration: underline;
}
a.ro-title {
    display: block;
    text-decoration: none;
}
.ro-title, .ro-content {
    margin: 0;
    padding: 0;
    width: 600px;
    line-height: 24px;
}
.title-loading {
    position: absolute;
    height: 64px;
    width: 64px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 32px;
    font-size: 32px;
}
.title {
    position: absolute;
    height: 64px;
    width: 180px;
    left: 50px;
    top: 30px;
    line-height: 32px;
}
.title .sub-title {
    font-size: 24px;
}
