html, body {
    min-width: 300px;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    font-weight: normal;
}
